@mixin filter($value) {
	-webkit-filter: $value;
	   -moz-filter: $value;
		-ms-filters: $value;
		filter: $value;
	}

@mixin transition($property, $value) {
	-webkit-transition: $property $value;
	transition: $property $value;
}